<%= form_with url: home_path, data: { turbo: false }, method: :patch, remote: true, id: "form2_notification" do |form| %>   
    <button <% if model.notifications.where(seen: Seen::NOT_SEEN).length != 0  %> class="position-relative btn btn-primary" <% else %> class="position-relative btn btn-default" <% end %> data-bs-toggle="dropdown" onclick="click_notification('form2_notification')" id="button_notification"> 
        <i class="fa fa-bell"></i>  
        <span class="position-absolute top-0 start-100 translate-middle rounded-pill badge-notification bg-danger w-75" id="span_notification2">
            <% if model.notifications.where(seen: Seen::NOT_SEEN).length != 0 %>
                <%= model.notifications.where(seen: Seen::NOT_SEEN).length %>
            <% end %>
        </span>   
    </button> 
        
    <ul class="dropdown-menu dropdown-menu-end" style="max-height: 40em; overflow: auto;">  
    <hr>
        <% model.notifications.reverse.each do |notification|%> 
            <li class="mb-1 container">  
                <% if notification.title.downcase.include?("confirmed") %>
                    <div class="alert alert-success">
                <% elsif notification.title.downcase.include?("deleted") || notification.title.downcase.include?("canceled")%>
                    <div class="alert alert-dark">
                <% elsif notification.title.downcase.include?("booked") %>
                    <div class="alert alert-info">
                <% elsif notification.title.downcase.include?("declined") %>
                    <div class="alert alert-danger">
                <% elsif notification.title.downcase.include?("pending") %>
                    <div class="alert alert-warning">
                <% else %>
                    <div>
                <% end %> 
                    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" > 
                        <div class="toast-header bg-light"> 
                            <strong class="me-auto" style="cursor: pointer" onclick="click_notification_toast()"><%= notification.title %></strong>   
                            <small><%= time_tag notification.created_at, "data-local": "time-ago" %></small> 
                        </div>
                        <div class="toast-body bg-light text-dark">
                            <%= notification.content %> 
                        </div>
                    </div>
                </div>  
            </li>  
            <hr>
        <% end %>
    </ul>   
<% end %>       