<%= form_with(model: product) do |form| %> 
    <label class="btn btn-primary mb-4">
        Product image
        <span style="display:none;">
        <%= form.file_field :image, accept:'image/*' %> 
        </span>
    </label> 

    <div class="form-floating mb-4">
        <%= text_field :name, nil, name: field_name(nil, "product", :name), class: "form-control", placeholder: "Name", value: product.name %>
        <div class="pull-right text-danger">
            <%= inline_error_for(:name, product) %>
        </div>
        <%= label_tag :name, "Name" %>
    </div> 

    <div class="form-floating mb-4">
        <%= text_field :price, nil, name: field_name(nil, "product", :price), class: "form-control", placeholder: "Price", value: product.price %>
        <div class="pull-right text-danger">
            <%= inline_error_for(:price, product) %>
        </div>
        <%= label_tag :price, "Price" %>
    </div>
    
    <div class="form-floating mb-4">
        <%= text_field :cooking_time, nil, name: field_name(nil, "product", :cooking_time), class: "form-control", placeholder: "Cooking time", value: product.cooking_time %>
        <div class="pull-right text-danger">
            <%= inline_error_for(:cooking_time, product) %>
        </div>
        <%= label_tag :cooking_time, "Cooking time" %>
    </div>

   <div class="form-floating mb-4">
        <%= text_field :is_available, nil, name: field_name(nil, "product", :is_available), class: "form-control", placeholder: "Available", value: product.is_available %>
        <div class="pull-right text-danger">
            <%= inline_error_for(:is_available, product) %>
        </div>
        <%= label_tag :is_available, "Available" %>
    </div> 

    <div class="d-flex justify-content-center">
        <%= form.submit  class: "btn btn-success btn-block gradient-custom-4 text-uppercase"%> 
    </div> 
    
<% end %>
 
