<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Cooking time:</strong>
    <%= product.cooking_time %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Is available:</strong>
    <%= product.is_available %>
  </p>

</div>
